<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/products/<%= product.id %>?_method=PUT" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="product name" value="<%= product.name %>">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" placeholder="product price" value="<%= product.price %>">
        <label for="category">Category</label>
        <select name="category" id="category">
            <% for(let i of catagory) {%>
            <option value="<%= i %>" <%= product.category === i ? 'selected': ''%>><%= i %></option>
            <% } %>
        </select>
        <button>Submit</button>
        <br>
        <a href="/products/<%= product.id %>">Cancel</a>
    </form>
</body>
</html>